<div class='border-bottom row' style="margin-bottom:16px; padding-bottom:8px">
    <div class="col-9">
       <h4 style="color:rgb(120,120,120); margin-bottom:4px">
        {{job['title']}}
    </h4>
        {%if 'location' in job%}
        <div>Location: {{job['location']}}</div>
        {%else%}
        <div><p>Location is not available</p></div>
        {%endif%}
        {%if 'salary' in job%}
        <div>Salary: {{job['salary']}}</div>
        {%else%}
        <div><p>Salary is not available</p></div>
        {%endif%}
        {%if 'experience' in job%}
        <div>Experience: {{job['experience']}}</div>
        {%else%}
        <div><p>Experience is not available</p></div>
        {%endif%}
    </div>
    <div class="col-3"><button class="btn btn-outline-primary">Apply Here</button></div>
</div>
