<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Application Submitted</title>
        {% include 'bootstrap.html' %}
        <style>
            body {
                background-color: #f8f9fa;
            }
            .container {
                max-width: 600px;
                margin-top: 50px;
            }
        </style>
    </head>
    <body>
        <h1 class="text-center mt-2 mb-4">Application Submitted</h1>
        <div class="container">
            <p class="lead">Thank you for applying for the position. We will review your application and get back to you soon.</p>
            <p class="text-center"><a href="/" class="btn btn-primary">Back to Home</a></p>
        </div>
</html>